body {
	text-align: center;
	background-color: #a06060;
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	font-family: cursive;
	text-shadow: 3px 0 #DA0463;
}

.w {
	background-image: url("daysgone.jpg");
   
}

.a {
	background-image: url("laram.png");
}

.s {
	background-image: url("ıntersaller.jpg");
}

.d {
	background-image: url("laram3.png");
}

.j {
	background-image: url("amazon.png");
}

.k {
	background-image: url("");
}

.l {
	background-image: url("");
}

.all {
	margin: 10% auto;
}

.animation {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.3;

	
}




.button {
	outline: none;
	border: 10px solid #404B69;
	font-size: 3rem;
	font-family: 'Arvo', cursive;
	line-height: 2;
	font-weight: 900;
	color: #DA0463;
	text-shadow: 3px 0 #DBEDF3;
	border-radius: 15px;
	display: inline-block;
	width: 350px;
	height: 550px;
	text-align: center;
	margin: 10px;
	background-color: white;
    background-repeat: no-repeat;
  background-size: cover;
background-position: -195px;

}

.w {
    background-repeat: no-repeat;
    background-size: cover;
  background-position: -295px;
  border: 4px solid gold;

}
.a{
    background-repeat: no-repeat;
    background-size: cover;
  background-position: -195px;
  border: 4px solid red;
}
.s{
    background-repeat: no-repeat;
    background-size: cover;
  background-position:0px;
  border: 4px solid red;
}


.d{
    background-repeat: no-repeat;
    background-size: cover;
  background-position: -295px;
  border: 4px solid red;
}


.j{
    background-repeat: no-repeat;
    background-size: cover;
  background-position: -195px;
  border: 4px solid red;
}



