*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*! her h1 h2 .. de yeniden boyutlandırmamak icin yaptık */
h1{
    font-size: 50;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
   font-size: 14px;
}

p{
    font-size: 16px;
    color: grey;
    margin: 15px 0 20px 0;

}
.section-p1{
    padding: 40px 80px;
}
body{
    width: 100%;
}

/*HEADER START KISMI*/
/*&1.kısım NAVBAR KISMI*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 45px;
    background-color: rgb(81, 209, 209);
    box-shadow: 2px 4px 15px red;
    position: sticky;
    z-index: 999;
    
 
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style:none;

    
  
}
#navbar li{
    padding: 5px;
    position: relative;

   
}
#navbar li a{position: relative;

    text-decoration: none;
    font-size: 17px;
    color: rgb(89, 186, 120);
    transition: color 0.5s ease;
   
}
#navbar li a:hover,
#navbar li a.active{
    color :rgb(155, 5, 12);

}
/* calısıyor kendim
#navbar li a:hover::before{
    content: "";
    position: absolute;
   top: 55px;
   border: 1px solid red;
   width:22px;
   height: 2px;
   background-color: rgb(123, 26, 37);
}
*/
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 35%;
    height: 2px;
    background-color:rgb(109, 109, 25);
    bottom: -4px;
left:1px;
    position: absolute; /** ONEMLİİ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

}


/*HERO KISMI*/
#hero{
    background-image: url("img/hero4.png");
width: 100%;
height: 90vh;
background-size: cover;
background-position: top 25% right 0; /* BACKGROUND RESMİNİN YUKARI ASSAGI SAG SOL BOSLUK AYARLAMA*/
padding: 0 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

#hero h4{
    color: rgb(69, 145, 119);
}
#hero h2{
    color: rgb(49, 17, 115);
}
#hero h1{
    color: rgb(58, 10, 28);
}
#hero p{
    color: rgb(37, 78, 149);
}
#hero button{
    color: rgb(36, 204, 61);
    background-image: url("img/button.png");
    background-color: transparent;
   border: 0px;
    padding: 14px 74px 11px 52px;
    background-repeat: no-repeat;
 cursor: pointer;
 font-size: 19px;
}

/*!FEATURE KISMI*/
#feature{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
  

}
#feature .fe-box{
width: 180px;
padding: 20px 15px;
text-align: center;
border: 2px solid orange;
height: 200px;
margin: 25px 0;
}
.fe-box h6{
   display: inline-block;
   padding: 15px 9px 8px 6px;
   background-color: palevioletred;
   border-radius: 15px 15px;
   margin: 10px 0;


  top: 24%;
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(97, 29, 199);
    color: crimson;
    
 }
 #feature .fe-box:nth-child(3) h6{
    background-color: rgb(193, 149, 74);
    color: rgb(54, 40, 40);
    
 }
 #feature .fe-box:nth-child(4) h6{
    background-color: rgb(91, 208, 80);
    color: rgb(49, 169, 127);
    
 }
 #feature .fe-box:nth-child(5) h6{
    background-color: rgb(97, 29, 199);
    color: rgb(153, 206, 18);
    
 }